/* Universal selector – applies to ALL elements on the page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    text-decoration: none;
    color: #75521c;
}


/* Body – global page styles such as background and typography */

body {
    margin: 0;
    background-color: #f7f3e9;
}

header {
    width: 100%;
    height: auto;
    box-shadow: 0 0 1rem #704b13;
    background-color: #f7f3e9;
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    direction: rtl;
    z-index: 100;
}

.logo-website {
    width: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo-website img {
    width: 100%;
    margin: 5px;
}

.name-website {
    width: 5%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.name-website p {
    font-weight: 900;
    margin: 5px;
    font-size: large;
}

.menu {
    width: 92%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu ul {
    display: flex;
    direction: ltr;
    list-style: none;
    gap: 2rem;
}

.menu a {
    font-size: 1.2rem;
    font-style: unset;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover {
    color: #c4872d;
}


/* Main – styles for the primary content area */

main {
    margin: 0;
    margin: 2rem 0;
}


/* Section – styles for individual content blocks within main */

section {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

hr {
    width: 85%;
    margin: 1rem auto;
    border: 0.1rem solid #bda888;
    border-radius: 0.5rem;
}


/* Video box – container styling for the embedded video */

.video-box {
    width: 100%;
    height: 20rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

.video {
    width: 40%;
    height: 100%;
    outline: 0.3rem dashed #bda888;
    box-shadow: 0 0 1rem #704b13;
    border-radius: 2rem;
    overflow: hidden;
    outline-offset: 0.8rem;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.audio-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.audio-Section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.audio {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.audio img {
    width: 25%;
    display: flex;
    border-radius: 15%;
    object-fit: cover;
    box-shadow: 0 0 1rem #704b13;
}

audio {
    border-radius: 30px;
    border: 3px solid #bda888;
}

h3 {
    text-transform: uppercase;
    margin-top: 10px;
}

p {
    width: 100%;
    text-align: center;
}

footer {
    width: 100%;
    height: auto;
    box-shadow: 0 0 1rem #704b13;
    background-color: #f7f3e9;
}

footer p {
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #333;
}


/* Styles for large screens (default) */

@media (max-width: 1024px) {
    .video {
        width: 90%;
    }
    .video-box {
        height: 15rem;
    }
    .audio-Section {
        flex-direction: column;
        align-items: center;
    }
    .audio img {
        width: 100%;
    }
    .audio audio {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    .logo-website {
        width: 15%;
        justify-content: end;
    }
    .logo-website img {
        width: 100%;
    }
    .name-website {
        width: 50%;
        text-align: start;
    }
    .name-website p {
        width: fit-content;
        font-size: 25px;
    }
    .menu {
        display: none;
    }
    h1 {
        font-size: 1.3rem;
        font-weight: 900;
    }
    .video {
        width: 90%;
    }
    .video-box {
        height: 15rem;
    }
    .audio-Section {
        flex-direction: column;
        align-items: center;
    }
    .audio {
        width: 100%;
    }
    .audio img {
        width: 25%;
    }
    .audio audio {
        width: 80vw;
    }
}

@media (max-width: 480px) {}